.label {
  display: inline-flex;
  align-items: center;
  padding: 4px 14px;
  gap: 8px;

  background: #dcfce7;
  border-radius: 28px;

  /* background: #15803D; */
  color: #15803d;

  /* Active */

  /* width: 43px;
  height: 20px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% 

  color: #15803d; */

  /* Inside auto layout */
  /* flex: none;
  order: 1;
  flex-grow: 0; */
}
