.label {
  /* Status=Not active */

  /* Auto layout */
  display: inline-flex;
  align-items: center;
  padding: 4px 14px;
  gap: 8px;


  background: #fee2e2;
  border-radius: 28px;

  color: #b91c1c;

  /* font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px; */
  /* identical to box height, or 143% */

  /* color: #b91c1c; */

  /* Inside auto layout */
  /* flex: none;
  order: 1;
  flex-grow: 0; */
}
